.cache/
.rq_cache/
.rq_modules/
build/
release/
tmp_init_demo/
togithub/
in-all/
scripts/
vscode/
modules/
toolchain/*
!toolchain/README.md
!toolchain/setup-toolchain.ps1
*.exe
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.idb
*.o
*.obj
*.spv
*.generated.cpp
*.html
*.zip
*.7z
*.vsix
*.log
assets/img/logo.ico
src/resources.o